<!--
//===============================================================================
// Microsoft FastTrack for Azure
// Azure Active Directory B2C User Management Samples
//===============================================================================
// Copyright © Microsoft Corporation.  All rights reserved.
// THIS CODE AND INFORMATION IS PROVIDED "AS IS" WITHOUT WARRANTY
// OF ANY KIND, EITHER EXPRESSED OR IMPLIED, INCLUDING BUT NOT
// LIMITED TO THE IMPLIED WARRANTIES OF MERCHANTABILITY AND
// FITNESS FOR A PARTICULAR PURPOSE.
//===============================================================================
-->
@{
    ViewBag.Title = "Home Page";
}

<div class="row" style="margin-top: 20px">
    <div class="col-md-6">
        <p>
            @Html.ActionLink("Create User", "Create", new { }, new { @class = "btn btn-default" })
        </p>
    </div>
    <div class="col-md-6">
        <p>
            @Html.ActionLink("Edit User", "Find", new { }, new { @class = "btn btn-default" })
        </p>
    </div>
</div>